2016 MacAskill JEMR manuscript.blg
2016 MacAskill JEMR manuscript.log
2016 MacAskill JEMR manuscript.out
2016 MacAskill JEMR manuscript.synctex.gz
2016 MacAskill JEMR manuscript.aux
2016 MacAskill JEMR manuscript.bbl
